.m10 {
    margin: 10px;
}
.m20 {
    margin: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.m30 {
    margin: 30px;
}
.m40 {
    margin: 40px;
}
.m50 {
    margin: 50px;
}
.m60 {
    margin: 60px;
}
.m70 {
    margin: 70px;
}
.m80 {
    margin: 80px;
}
.m90 {
    margin: 90px;
}
.m100 {
    margin: 100px;
}

// Отступы по вертикали
.mt-30 {
    margin-top: 30px;
}
.mr-30 {
    margin-right: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-30 {
    margin-left: 30px;
}

.mt-40 {
    margin-top: 40px;
}
.mr-40 {
    margin-right: 40px;
}
.mb-40 {
    margin-bottom: 40px;
}
.ml-40 {
    margin-left: 40px;
}

.mt-50 {
    margin-top: 50px;
}
.mr-50 {
    margin-right: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-50 {
    margin-left: 50px;
}

// Отступы по горизонтали
.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-40 {
    margin-left: 40px;
    margin-right: 40px;
}
.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mx-50 {
    margin-left: 50px;
    margin-right: 50px;
}
.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
