$box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.15);
$box-shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);

$text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

.shadow {
    box-shadow: $box-shadow-default;
}

.shadow-lg {
    box-shadow: $box-shadow-lg;
}

.shadow-sm {
    box-shadow: $box-shadow-sm;
}

.text-shadow {
    text-shadow: $text-shadow;
}
