$z-index-modal: 1050;
$z-index-dropdown: 1000;
$z-index-navbar: 999;

.z-index-modal {
    z-index: $z-index-modal;
}

.z-index-dropdown {
    z-index: $z-index-dropdown;
}

.z-index-navbar {
    z-index: $z-index-navbar;
}
